/* Write your CSS here */
.todo-card-container {
  list-style-type: none;
  margin: 30px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.todo-title {
  font-size: 26px;
  font-family: 'Roboto';
}

.todo-button {
  color: #ff0b37;
  height: 30px;
  width: 80px;
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #ff0b37;
  border-radius: 7px;
}
